#progress,#progstat{position:absolute;top:50%}img{width:32.2%}#overlay{position:fixed;z-index:99999;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,.9);transition:1s .4s}#progress{height:1px;background:#fff;width:0}#progstat{font-size:.7em;letter-spacing:3px;margin-top:-40px;width:100%;text-align:center;color:#fff}.status_loader{margin-top:40px;border:16px solid #f3f3f3;border-radius:50%;border-top:16px solid #3498db;width:120px;height:120px;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite}
#random-wall { 
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
}